@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
:root{
    --primary-bg-color:hsl(226, 43%, 10%);
    --font-pcolor:hsl(0, 0%, 100%);
    --font-scolor:hsl(235, 45%, 61%);
    
    --spacing-sm: 5px;
    --spacing-m: calc(var(--spacing-sm)*2);
    --spacing-lg: calc(var(--spacing-sm)*3);
    --spacing-xl: calc(var(--spacing-sm)*4);
    --spacing-xxl: calc(var(--spacing-sm) * 5);
    --spacing-xxxl: calc(var(--spacing-sm) * 6);
}


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Rubik", "Helvetica Neue",sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content: center;
    padding:var(--spacing-lg);
    background: var(--primary-bg-color);
    color:hsl(235, 46%, 20%);
}

.grid-container{
    display: grid;
    gap:30px;
}

.cards,
.card-header,
.time-container{
    border-radius:10px
}

.cards.main{
    height:150px;
    background:#1D204D;
}

.card-header {
    display: flex;
    background: hsl(246, 80%, 60%);
    gap:var(--spacing-m);
    padding:var(--spacing-xxxl);
}

.text-content{
    font-size:12px;
    color:var(--font-pcolor);
    font-weight: 300;
}

.text-content .user-name,
.header p{
    font-size:18px;
}

.card-header img{
    border:2px solid var(--font-pcolor);
    width:50px;
    height: 50px;
    border-radius: 50%;
}

.card-footer{
    display: flex;
    gap:40px;
    justify-content: center;
    padding:var(--spacing-lg);
    background:#1D204D;
    color:#7578C1;
    border-radius: 0 0 10px 10px;
}

.cards.work{
    background: url(/images/icon-work.svg);
    background-repeat: no-repeat;
    background-position: right 2% top 0%;
    background-size: 60px 60px;
    background-color: hsl(15, 100%, 70%);
}

.cards.play{
    background: url(/images/icon-play.svg);
    background-repeat: no-repeat;
    background-position: right 2% top 0%;
    background-size: 60px 60px;
    background-color: hsl(195, 74%, 62%);
}

.cards.study{
    background: url(/images/icon-study.svg);
    background-repeat: no-repeat;
    background-position: right 2% top 0%;
    background-size: 60px 60px;
    background-color: hsl(348, 100%, 68%);     
}

.cards.exercise{
    background: url(/images/icon-exercise.svg);
    background-repeat: no-repeat;
    background-position: right 2% top 0%;
    background-size: 60px 60px;
    background-color: hsl(145, 58%, 55%);    
}

.cards.social{
    background: url(/images/icon-social.svg);
    background-repeat: no-repeat;
    background-position: right 2% top 0%;
    background-size: 60px 60px;
    background-color: hsl(264, 64%, 52%);  
}

.cards.self-care{
    background: url(/images/icon-self-care.svg);
    background-repeat: no-repeat;
    background-position: right 2% top 0%;
    background-size: 60px 60px;
    background-color: hsl(43, 84%, 65%);    
}

.time-container{
    background-color:#1D204D;
    height: 90%;
    margin-top: 30px;
    border-radius: 10px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 20px 0 20px;
    
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 20px 0 20px;
}

.hour-count{
    font-size: 25px;
    font-weight: 300;
}

.previous-week{
    font-size: 15px;
    color:#7578C1;;
}

.header,
.footer{
    color:var(--font-pcolor);
}

.card-footer p,
.footer,
i{
  cursor:pointer;  
}

.fa-ellipsis{
    color:#7578C1;
}

.fa-ellipsis:hover{
    color:white;
}

.time-container:hover{
    background: #3a3e82;
} 

.card-footer p:hover,
.card-footer p:active{
    color:#ffff;
    width:50px;
}

 @media screen and (min-width: 768px){
    .grid-container{
        width:1000px;
        grid-template-columns: repeat(4,200px);
        grid-template-rows: repeat(2, 165px);
    }

    .cards.main{
        grid-row: 1/3;
        height:300px;
    }

    body{
        align-items: center;
        padding:50px;
    }

    .card-header{
        display: block;
        padding-bottom: 50px;
    }

    .text-content,
    .card-footer p{
        margin-top: var(--spacing-m);
    }

    .card-header .user-name{
        font-size: 25px;
    }

    .card-footer{
        display: block;
    }

    .hour-count{
        font-size: 40px;
    }

    .footer{
        display: block;
    }
}

